@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --green: green;
    --black: #121212;
    --light-color: #666;
    --box-shadow: 0 .1rem 1rem rgba(0, 0, 0.1);
    --border: 2rem solid rgba(0, 0, 0.1);
    --outline: .1rem solid rgba(0, 0, 0.1);
    --emgreen: #4ebd88;
    --edgreen: #419a6f;
    --pure-white: #fff;
}

* {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* border: red 1px solid;  */

}

a {
    font-size: 1.1rem;
    color: var(--black);
}

li {
    list-style: none;
}

/* HEADER PART */

.header {
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 9vh;
    max-width: auto;
    background: white;
    margin: auto;
    padding-inline: 8rem;
    border-bottom: 1px solid #12121279;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.navlist {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.navlist a:hover {
    color: var(--emgreen);
}

.headerlogo {
    height: 2.5rem;
    width: 2.5rem;
    margin-top: 20px;
}

.headertxt {
    float: right;
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    padding: 20px 10px 20px;
}

.btn {
    display: inline-block;
    padding: .7rem 1.8rem;
    background: var(--emgreen);
    border-radius: 2.5rem;
    font-size: 1rem;
    color: var(--pure-white);
    transition: .3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    background: var(--edgreen);
}

.desktop-action {
    gap: 1rem;
    display: flex;
    align-items: center;
}

.icons {
    color: var(--black);
    font-size: 1.5rem;
    text-align: center;
}


.cart-icon {
    position: relative;
}

.cart-icon .cart-value {
    position: absolute;
    top: -20%;
    right: -30%;
    font-size: .95rem;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 100vw;
    background: var(--emgreen);
    color: var(--pure-white);
    text-align: center;
    line-height: 20px;
}

.desktop-action .hamburger {
    display: none;
}

.search-box {
    flex-grow: 1;
    margin: 0 0rem;
    position: relative;
    align-items: center;
    display: flex;
}

.search-box input {
    width: 100%;
    padding: .5rem 1rem;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: .9rem;
}

.search-box label {
    position: absolute;
    font-size: 1rem;
    cursor: pointer;
    right: 1.4rem;
    color: #121212af;
}

.mobile {
    display: none;
}


/* SECTIONS PART */
.banner {
    background: url(assets/main_banner_bg.png) no-repeat center;
    background-size: cover;
    min-height: calc(100vh - 40vh);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem;
    margin-left: 8rem;
    margin-right: 8rem;
    border-radius: .9rem;
}

.textbox {
    max-width: 40%;
    padding: 2rem 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.textbox h1 {
    font-size: 3rem;
    color: #2c3e50;
    margin-bottom: 2rem;
}

.cta-btns a {
    text-decoration: none;
    padding: 1rem 2.5rem;
    margin-right: 1rem;
    border-radius: .3rem;
    display: inline-block;
    font-weight: 450;
    gap: 1rem;
}

.shop-now {
    background-color: var(--emgreen);
    color: white;
    transition: 0.3s;
}

.shop-now:hover {
    background-color: var(--edgreen);
}

.explore-deals {

    color: var(--black);
    background-color: transparent;
}

.shop-now .mobile-arrow {
    display: none;
}

/* Categories */

.category-section {
    margin: 5rem 8rem;
}

.category-title {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
    color: #2c3e50;
}

.categories {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;

}

.category {
    flex: 1 1 calc(93% - 1rem);
    text-align: center;
    padding: 1rem;
    border-radius: 12px;
    transition: 0.3s ease;
    /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);*/
    padding: 1.2rem;
    margin: 0rem;
    cursor: pointer;
}

.category img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.category p {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
}

/* Unique Backgrounds */
.category-1 {
    background-color: #FFF5D9;
}

.category-2 {
    background-color: #FFE6E6;
}

.category-3 {
    background-color: #E9EBCB;
}

.category-4 {
    background-color: #E9F8E9;
}

.category-5 {
    background-color: #FFE6D9;
}

.category-6 {
    background-color: #E9F8FF;
}

.category-7 {
    background-color: #F3E9FF;
}

/* Hover Effect */
.category:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}



/* Service */
.service {
    background: url(assets/bottom_banner_image.png) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem 8rem;
    border-radius: .9rem;
    min-height: calc(100vh - 40vh);

}

.service .servicetxt {
    padding: 2rem 2rem;
    margin-left: 60%;
    margin-right: 3rem;
}

.service .servicetxt .maintxt {
    color: var(--emgreen);
    font-size: 1.8rem;
    font-weight: 600;
}

.service .service-list {
    padding-top: 1.8rem;
}

.service .service-list .text1 {
    color: #2c3e50;
    font-size: 1.3rem;
    font-weight: 600;
}

.service-list li {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
}

.service-list .txt {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    color: var(--light-color);
}

.service .serviceicons {
    width: 3.3rem;
    height: 3.3rem;
}

/* Subscribe Section */

.subscribe {
    margin: 5rem 8rem;
}

.subscribe h1 {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 500;
    color: #2c3e50;
}

.subscribe p {
    text-align: center;
    font-size: 1.1rem;
    color: var(--light-color);
    padding: 1rem;
}

.subscribe .mailbox {
    display: flex;
    justify-content: center;
    max-width: 700px;
    margin: 40px auto;
    border: 1px rgba(54, 54, 54, 0.222) solid;
    overflow: hidden;
    border-radius: .5rem;
}

.subscribe .mailbox input {
    flex: 1;
    padding: 1rem 1rem;
    border: none;
    font-size: .9rem;
    font-weight: 400;
    outline: none;
}

.subscribe .mailbox button {
    background: var(--emgreen);
    color: var(--pure-white);
    padding: 0 3rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

/* FOOTER PART */

.footer {
    background-color: #f0faf6;

}

.footer .footer-container {
    display: flex;
    padding-top: 3rem;
    margin: 2.5rem 8rem;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: auto;

}

.footer .footer-about {

    margin-bottom: 1rem;
    width: 35%;
}

.footer .footer-about p {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--light-color);
}

.footer .footer-about .footerlogo{
    height: 2.7rem;
    width: 2.7rem;
}

.footer .footer-about .logotxt{
    font-size: 1.5rem;
}

.footer .footer-links {
    display: flex;
    flex-direction: row;
    margin-bottom: 0rem;
    gap: 1.5rem;

}

.footer-column {
    min-width: 150px;
}

.footer-links h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: .6rem;
}

.footer-links ul li a {
    text-decoration: none;
    color: var(--light-color);
    font-size: .8rem;
    transition: color 0.3s ease;
}

.footer-links ul li a:hover {
    color: var(--emgreen);
}

.footer hr {
    border: none;
    border-top: 1px solid #5757574e;
    margin: 0rem 8rem;
}

.footer-bottom {
    text-align: center;
    font-size: 1rem;
    color: #16161695;
    padding: .8rem;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: .3rem;
}







/* MEDIA QUERIES */
@media screen and (max-width: 780px) {

    .navlist,
    .desktop-action .btn,
    .desktop-action .search-box {
        display: none;
    }

    .desktop-action .hamburger {
        display: block;
    }

    .navbar {
        padding-inline: 1.5rem;
    }

    .mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        position: absolute;
        top: 160%;
        left: 50%;
        opacity: 0;
        transform: translateX(-50%);
        width: 20rem;
        padding: 2rem;
        background: var(--pure-white);
        border: .1rem solid var(--emgreen);
        border-radius: 1.5rem;
        box-shadow: rgba(0, 0, 0, 0.24) 8px 8px 8px rgba(0, 0, 0, 0.24) 8px 8px 8px inset;
        transition: opacity 0.5s ease, top 0.5s ease;

    }

    .mobile.active {
        opacity: 1;
        transform: translateX(-50%);
        top: calc(100% + 2rem);

    }

    /* Sections */

    .banner {
        background: url(assets/main_banner_bg_sm.png) no-repeat center;
        flex-direction: column;
        align-items: center;
        margin: 1.5rem;
        text-align: center;
        background-size: cover;
        min-height: auto;
        justify-content: flex-end;
        padding-bottom: 6rem;

    }

    .textbox {
        max-width: auto;
        margin: 0;
        padding: 1rem;
        text-align: center;
    }

    .textbox h1 {
        font-size: 2.8rem;
    }

    .banner .explore-deals {
        display: none;
    }

    .shop-now .mobile-arrow {
        display: inline-block;
        color: var(--pure-white);
        font-size: .8rem;
    }

    /* Categories */

    .category-section {
        margin: 2rem 1.5rem;
    }

    .categories {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
        gap: 1rem;
    }

    .category {
        padding: 1rem;
        border-radius: 10px;
    }

    .category img {
        width: 80px;
        height: 80px;
    }

    .category p {
        font-size: 0.9rem;
    }

    /* Service */

    .service {
        background: url(assets/bottom_banner_image_sm.png) no-repeat center;
        flex-direction: column;
        align-items: center;
        margin: 1.5rem;
        text-align: center;
        background-size: cover;
        min-height: 115vh;
        justify-content: flex-start;
        padding-bottom: 6rem;
        position: relative;
    }

    .service .servicetxt {
        position: static;
        transform: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1.5rem;
        margin-left: 0;
        margin-right: 0;
        margin-top: 1.6rem;
    }


    .service-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0;
    }

    .service-list li {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
        gap: 1rem;
        width: 100%;
    }

    .service .serviceicons {
        width: 3rem;
        height: 3rem;
        margin-bottom: 0rem;
        flex-shrink: 0;
    }

    .service .text1 {
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: 0rem;
        color: #2c3e50;
    }

    .service .text2 {
        font-size: 0.9rem;
        color: var(--light-color);
        line-height: 0.7;

    }

    .service .maintxt {
        align-items: left;
        text-align: left;
        font-size: 1.4rem;
    }

    .service-list .txt {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.2rem;
        text-align: left;
    }


}