*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;

}
body{
    background-color:#70ea95;
    background: url(images/main_banner_bg.png)no-repeat center;;
    background-size: cover;
    min-height: calc(100vh - 40vh);
    
    align-items: center;
    margin-top: 2.5rem;
    margin-left: 8rem;
    margin-right: 8rem;
    border-radius: .9rem; 
}



.contianer{
    background: #fff;
    width: 450px;
    padding: 1.5rem;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0,0,1,0.9);
}
form{
    margin: 0 2rem;
}
.form-title{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.4rem;
}
input{
    color: inherit;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid ;
}
.input-group{
    padding: 1% 0;
    position: relative;
}
.input-group i{
    position: absolute;
    color: black;
}
input:focus{
    background-color:transparent ;
    outline: transparent;
    border-bottom: 2px solid hs1(327,90%,28%);
}
input::placeholder{
    color: transparent;
}
label{
    color: #757575;
    position:relative ;
    left: 1.2em;
    top: -1.3em;
    cursor: auto;
    transition: 0.3s ease all;
}
input:focus~label,input:not(:placeholder-shown)~label{
    top: -2em;
    color: hs1(327,90%,28%);
    font-size: 15px;

}
.recover{
    text-align: right;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.recover a{
    text-decoration:none ;
    color: rgb(125,125,235);
}
.recover a:hover{
    color: blue;
    text-decoration: underline;

}
.btn{
    font-size: 1.1rem;
    padding: 8px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    background: rgb(11, 200, 102);
    color: white;
    cursor: pointer;
    transition:0.9s ;
}
.btn:hover{
    background: #07001f;
}
.or{
    font-size: 1.1em;
    margin-top:0.5em;
    text-align: center;
}
.icons{
    text-align: center;
}
.icons i{  
    color:rgb(11,200,102) ;
    padding:0.8rem 1.5rem ;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 2px solid #dfe9f5;
    margin: 0 15px;
    transition: 1s;
}
.icons i:hover{
    background: #07001f;
    font-size: 1.6rem;
    border: 2px solid rgb(11,200,102);
}
.links{
    display: flex;
    justify-content: space-around;
    padding: 0 4rem;
    margin-top: 0.9rem;
    font-weight: bold;
}
button{
    color: rgb(11,200,102);
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
}
button:hover{
    text-decoration: underline;
    color: #70ea95;
}
 